[Unit]
Description=start pulseUI
After=pulsesecure.service
[Service]
ExecStart=/bin/bash /usr/sbin/pulse_startup.sh

[Install]
WantedBy=multi-user.target
